{% extends "base.html" %}
{% block content %}

<a href="javascript:history.back()" class="back-link">← Back</a>

<div class="module-container">

    <h1 class="module-title">Feelings & Emotions</h1>

    <p class="hint-text">
    Tap the image to hear the emotion 🔊
</p>

    <div class="word-grid">
        {% for emotion, image in emotions %}
            <div class="word-card">
                <h2>{{ emotion }}</h2>

                <img src="{{ url_for('static', filename='images/' + image) }}"
                     onclick="speakEmotion('{{ emotion }}')"
                     style="cursor:pointer;">
            </div>
        {% endfor %}
    </div>

</div>

<script>
function speakEmotion(text) {
    window.speechSynthesis.cancel();  // stop previous sound

    const speech = new SpeechSynthesisUtterance(text);
    speech.lang = "en-US";
    speech.rate = 0.85;

    window.speechSynthesis.speak(speech);
}
</script>

{% endblock %}